:root {
  --primary-color-text: #757575;
  --secondary-color-text: #212121;
  --tertiary-color-text: #ffffff;
  --fourth-color-text: #000000;
  --primary-background-page: #ffffff;
  --secondary-background-page: #f5f4fa;
  --tertiary-background-page: #2f303a;
  --accent-color: #2196f3;
  --primary-color-logo: #afb1b8;
  --primary-line-height: 1.2;
  --secondary-line-height: 1.7;
  --primary-font-weight: 500;
  --secondary-font-weight: 700;
  --primary-font-size: 16px;
}

/* ===================================================
==============ЗАГАЛЬНІ НАЛАШТУВАННЯ ==================
====================================================== */

html {
  box-sizing: border-box;
}

body {
  color: var(--primary-color-text);
  background-color: var(--primary-background-page);
  /* фон і текст */
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}
/* прибираю підкреслення у всіх посилань */
a {
  text-decoration: none;
}
/* прибираю маркерування списків */
li {
  list-style-type: none;
}
/* прибираю стандартні ліві падінки */
ul {
  padding-left: 0px;
}
/* прибираю непотрібні заголовки */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/*========================================
========== підсвітка активної сторінки====
========================================== */

.nav-link.current {
  color: var(--accent-color);
  position: relative;
}

/*========================================
========== Риска підсвітка активної сторінки====
========================================== */

.nav-link.nav-link.current::after{
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}



/* Кнопки */
.button-item,
.button-activ {
  cursor: pointer;
  font-family: inherit;
}

/* Остання дитина без правого марджана */
li.item:last-child,
.hidden:last-child,
.example-progect:last-child,
.staff-items:last-child,
.staff-items:last-child,
.button-link:last-child,
.item-contact:last-child,
.social-network > .element:last-child,
.list-customer > .title-customer:last-child,
.social-page:last-child {
  margin-right: 0px;
}
/* Падінги всіх секцій */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* зміна кольорів при фокусі і ховері */
.contact-link:hover,
.contact-link:focus,
.footer-contact:hover,
.footer-contact:focus,
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

/* =================================
============== ХЕДЕР ===============
==================================== */

header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid red; */
}

div.nav,
nav {
  display: flex;
  align-items: center;
}

/* НАВІГАЦІЯ */
/* Логотип */
.logo,
.logo-span {
  color: var(--fourth-color-text);
  font-family: Raleway, sans-serif;
  font-weight: var(--secondary-font-weight);
  font-size: 26px;
  line-height: var(--primary-line-height);
}

.logo-span {
  color: var(--accent-color);
}

.logo {
  display: block;
  padding-top: 24px;
  padding-bottom: 25px;
}

.nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color-text);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;

  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

.link-page {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 93px;
  padding-left: 0px;
}

li.item {
  display: block;
  margin-right: 50px;
}

/* Контакти */
.contact-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-color-text);
  font-weight: var(--primary-font-weight);
  line-height: var(--primary-line-height);
  letter-spacing: 0.02em;

  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  padding-left: 0px;
}

.item-contact {
  display: inline-flex;
  align-items: center;
  margin-right: 50px;
}

.item-contact-element {
  display: block;
  fill: currentColor;
  margin-right: 10px;
}

.item-contact-element:hover,
.item-contact-element:focus {
  fill: var(--accent-color);
}

/*  ==========================================
===================== ГЕРОЙ ==================
============================================== */

section.section-progect {
  padding-top: 0px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding: 200px 0px 200px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;

  background-color: #c4c4c4;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/decoration-img/hero.jpg");
}

h1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  color: var(--tertiary-color-text);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* ==========================================
============ Замоавити послугу ==============
============================================= */

.button-activ {
  display: inline-block;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;

  color: var(--tertiary-color-text);
  background-color: var(--accent-color);
  font-weight: var(--secondary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.9;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border-color: transparent;
}

/* ==========================================
=============== Модальне вікно ==============
============================================= */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 15px;

  background-color: var(--primary-background-page);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1.2);
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}


/* ===================================================
======= Кновка "Закрити" модальне вікно===============
======================================================*/

 .button-close {
  display: flex;
  align-items: center;

  margin-left: auto;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;

  background-color: var(--primary-background-page);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover .icon-button-close-black {
  fill: var(--accent-color);
}

/* ________________СЕКЦІЇ____________________ */

/* секція "Перевіги компанії" */
.hidden {
  display: block;
  width: 270px;
  margin-right: 30px;
}

.list-hidden {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.hidden::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--secondary-background-page);
  border-radius: 4px;

  background-position: center;
  background-repeat: no-repeat;
}

/* =========================================================
============= Зображення до сектції "наші переваги" ========
============================================================ */

.icon-antena::before {
  background-image: url(../images/decoration-img/icon-hidden/antenna.png);
}
.icon-clock::before {
  background-image: url(../images/decoration-img/icon-hidden/clock.png);
}
.icon-diagram::before {
  background-image: url(../images/decoration-img/icon-hidden/diagram.png);
}
.icon-astronautz::before {
  background-image: url(../images/decoration-img/icon-hidden/astronautz.png);
}

.info {
  margin-bottom: 0px;
  margin-top: 10px;

  font-weight: 400;
  line-height: var(--secondary-line-height);
}

.section-title {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--secondary-color-text);
  font-size: 14px;
  font-weight: var(--secondary-font-weight);
  line-height: var(--secondary-line-height);
  text-transform: uppercase;
}


/*============================================
======== Секція "чим ми займаємось?" ===========
=============================================*/

.possition {
  position: relative;
  
}

.text-on-img {
position: absolute;
bottom: 0;

display: flex;
align-items: center;
justify-content: space-around;
width: 370px;
height: 70px;
margin: 0;

font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
line-height: var(--primary-line-height);
text-transform: uppercase;

background-color: rgba(47, 48, 58, 0.8);
color: var(--tertiary-color-text);
}

/* =======================================
========== Секція "команда" ==============
==========================================*/

.section-title-progect {
  margin-top: 0px;
}

.example {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  align-items: center;
}

.example-progect {
  display: block;
  margin-right: 30px;
}

.example-foto {
  display: block;
}

/*============================================
============ Секція з персоналом =============
==============================================*/

.section-title-progect,
.section-title-staff,
.header-customer {
  margin-bottom: 50px;

  color: var(--secondary-color-text);
  font-weight: var(--secondary-font-weight);
  font-size: 36px;
  line-height: var(--primary-line-height);
  text-align: center;
}

.section-title-staff {
  margin-top: 0px;
}

.staff {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.staff-items {
  display: block;
  margin-right: 30px;

  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.section-title-staff-name {
  color: var(--secondary-color-text);
  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

.staff-name {
  font-size: var(--primary-font-size);
  line-height: var(--primary-line-height);
  text-align: center;
  margin-top: 0px;
  margin-bottom: 16px;
}

.staff-border {
  padding-top: 30px;
  padding-bottom: 30px;

  background-color: var(--primary-background-page);
  border-radius: inherit;
}

.social-network {
  display: flex;
  justify-content: center;
}

.social-network > .element {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
  color: var(--primary-color-logo);
  /* outline: 2px solid black; */
}

.social-network-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;


  color: currentColor;
  border-radius: 50%;

  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.social-network-link:hover,
.social-network-link:focus {
  background-color: var(--accent-color);
  color: var(--tertiary-color-text);
}

.link-account {
  fill: currentColor;
}

.background-color-section {
  margin-right: auto;
  margin-left: auto;

  background-color: var(--secondary-background-page);
}

/*===========================================
========== Секція "Постійні клієнти" ========
============================================= */

.header-customer {
  margin-top: 0px;
}

.list-customer {
  display: flex;
  justify-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.list-customer > .title-customer {
  margin-right: 30px;
}

.link-customer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;

  color: var(--primary-color-logo);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;

  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1),
  border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

.link-customer:hover,
.link-customer:focus {
  border-color: var(--accent-color);
  color: var(--accent-color);
}
.logo-customer {
  fill: currentColor;
}

/* ==================================================
===================    ФУТЕР   ======================
===================================================== */
footer {
  background-color: var(--tertiary-background-page);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-flex {
  display: flex;
  align-items: baseline;
}

/* логотип */
.logo-footer,
.logo-span {
  color: var(--tertiary-color-text);
  font-family: Raleway, sans-serif;
  font-weight: var(--secondary-font-weight);
  font-size: 26px;
  line-height: var(--primary-line-height);
}

.logo-footer {
  display: block;
  width: 145px;
}

.logo-span {
  color: var(--accent-color);
}

address {
  margin-top: 20px;
  font-weight: 400;
  line-height: var(--secondary-line-height);
}
/*==========================================
================ адреса футера =============
============================================ */

.address-post {
  display: block;
  width: 231px;
  margin-bottom: 9px;

  color: var(--tertiary-color-text);
  font-style: normal;
}

.address-post:last-child {
  padding-bottom: 0px;
}
/*==================================
========== контакти футера =========
==================================== */

.footer-contact {
  display: block;
  padding-right: 0px;
  width: 231px;
  margin-bottom: 9px;

  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  
  transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact:last-child {
  margin-bottom: 0px;
}

.footer-social-network {
  margin-left: 70px;
}

/*==================================================
======= Заголовок до соціальних мереж футера========
==================================================== */

.header-network {
  margin-bottom: 20px;
  margin-top: 0px;

  color: var(--primary-background-page);
  font-weight: var(--secondary-font-weight);
  font-size: 14px;
  line-height: var(--primary-line-height);
  text-transform: uppercase;
}
/*==================================================
=========== Список соціальних мереж футера==========
====================================================*/

.footer-social-page {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.social-page {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.social-page {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);

  border-radius: 50%;
}

.social-page-link:hover,
.social-page-link:focus {
  background-color: var(--accent-color);
}

.social-page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border-radius: 50%;

  fill: var(--tertiary-color-text);

  transition: background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

/* =============================================
============= сторінка "Студія"=================
================================================ */

.button-link {
  display: block;
  margin-right: 8px;
}

.button-list {
  display: flex;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: auto;
  justify-content: center;

  border-radius: 4px;
}

/*==============================================
============ фільтр контента ===================
================================================ */

.button-item {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 22px;
  padding-right: 22px;

  font-weight: var(--primary-font-weight);
  font-size: var(--primary-font-size);
  line-height: 1.6;
  letter-spacing: 0.03em;
  border-color: transparent;
  border-radius: 4px;
  
  transition: box-shadow 250ms  cubic-bezier(0.4, 0, 0.2, 1),
  background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1),
  color 250ms  cubic-bezier(0.4, 0, 0.2, 1);

}

.button-item:hover,
.button-item:focus {
  background-color: var(--accent-color);
  color: var(--secondary-background-page);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*========================================
============== Проєкти ===================
==========================================*/

.progect-subject {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
  margin-top: 50px;
  margin-bottom: 0px;
}

/* ========================================================
= Відносно цього селектора проходить позиціювання оверлея =
===========================================================*/

.thumb {
  position: relative;
  overflow: hidden;

}

/* ========================================================
=========== Посилання на приклади робіт ===================
===========================================================*/

.content {
  display: block;
  margin-right: 30px;
  margin-bottom: 30px;
}

.content:nth-child(3n) {
  margin-right: 0px;
}

.content:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.progect-subject-link {
  display: inherit;
  
  transition: box-shadow 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
  
.progect-subject-link:hover,
.progect-subject-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

}
  
/* ===========================================
============= Оверлей ефект ==================
============================================== */

.progect-subject-overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 370px;
  height: 294px;
  display: flex;
  margin: 0;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition: transform 250ms  cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}

 .progect-subject-link:hover .progect-subject-overlay,
 .progect-subject-link:focus .progect-subject-overlay {
  transform: translatex(0);
  opacity: 1;

}

.progect-subject-text {
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;

  color: var(--tertiary-color-text);
}

.features {

  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  border-top: transparent;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

img {
  display: block;
}

.progects-subtitle {
  margin-top: 0px;
  margin-bottom: 0px;

  color: var(--secondary-color-text);
  font-weight: var(--secondary-font-weight);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.progects-text {
  margin-top: 4px;
  margin-bottom: 0px;

  font-size: var(--primary-font-size);
  line-height: 1.9;
}
